<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
</head>
<body>
    <h1>WebSocket Log Messages</h1>
    <ul id="messages"></ul>

    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/logs/');

        ws.onmessage = function(event) {
            var message = JSON.parse(event.data).message;
            var node = document.createElement("LI");
            var textnode = document.createTextNode(message);
            node.appendChild(textnode);
            document.getElementById("messages").appendChild(node);
        };
    </script>
</body>
</html>
